table{
    border-collapse: collapse;
}


table th{
    text-align: center;
    background-color: #3a6070;
    color: #ffffff;
    padding: 4px 30px 4px 8px;
}

table td{
    border: 1px solid #ff1919;
    padding: 4px 8px ;
}

table tr:nth-child(odd) td{
    background-color: #e7edf0;
}
table tr:nth-child(even) td{
    background-color: #719aaf;
}